body {
	
	background: #000000;

}

p{
	margin: 0px;
	font-family: "Courier";
	padding: 10px;

}

h1{
	color: #FFFFFF;
	text-align: center;
	font-family: "Courier";
	padding: 10px;
}

h2{

	font-family: "Courier";
	font-size: 18px;
	margin: 10px;
}

h3{

	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: "Courier";
	padding: 10px;
}

h4{

	margin: 0px;
	font-size: 14px;
	font-family: "Courier";


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: "Courier";
}

hr{

	width:780px;

}

a:link, a:visited {
    display: block;
    width: 191px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #003300;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #004400;
}

#wrapper{

	width: 800px;
	margin-left: auto;
	margin-right: auto;1
}

#header{
	border: 1px solid white;
	background: #000000;
	height: 100px;
}

#nav-panel{
	border: 2px solid white;

}

#content{
	border: 1px solid black;
	background: #FFFFFF;
	
	min-height: 500px;
}

#footer{
	border: 1px solid white;
	background: #003300;
	height: 200px;
}
