body {
	
	background: #202020 ;
	margin:0px;

}

p{
	margin-left: 200px;
	font-family: "Courier";
	padding: 10px;
	color: #FFFFFF;
	margin-right: 200px;
	text-align: justify;
	width: 900px;
}

h1{
	margin-left: 200px;
	color: #FFFFFF;
	font-family: "Courier";
	padding:4px;
	margin-right: 200px;;

}

h2{
	color: #FFFFFF;
	margin-left: 200px;
	font-family: "Courier";
	font-size: 18px;
	margin-right: 200px;;

}

h3{
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: "Courier";
	padding: 10px;
}

h4{
	color: #FFFFFF;
	margin-left: 200px;
	margin: 0px;
	font-size: 14px;
	font-family: "Courier";
	margin-right: 200px;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: "Courier";
}

hr{

	margin-left: 200px;
	margin-right: 200px;

}

img{
    float: left;
    border: 1px groove white;
    margin: 0px 10px 15px 0px;
}

a:link, a:visited {
    display: block;
    width: 150px;
    font-weight: bold;
    font-family: "Courier";
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color:#0066FF;
}

#wrapper{
	
	min-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: 
}

#header{
	border: 1px solid black;
	background: #000000;
	height: 150px;
}

#nav-panel{
	min-width: 1200px;
	margin-left: 200px;
	position:absolute;
	top:125px;	
}

#content{
	
	
	border: 1px solid black;
	background: #181818;
	
	min-height: 500px;
}

#footer{
	
	background: #202020;
	height: 40px;

}
