body {
	
	background: #202020 ;
	margin:0px;
	min-width: 1200px;
}

p{
	margin-left: 200px;
	font-family: "Franklin Gothic";
	
	color: #FFFFFF;
	margin-right: 200px;
	text-align: justify;
	width: 900px;
}

h1{
	margin-left: 200px;
	color: #FFFFFF;
	
	font-family: "Franklin Gothic";
	font-weight: bold;
	padding:4px;
	margin-right: 200px;;

}

h2{
	color: #FFFFFF;
	margin-left: 200px;
	font-family: "Franklin Gothic";
	font-size: 18px;
	margin-right: 200px;;

}

h3{
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: "Franklin Gothic";
	padding: 10px;
}

h4{
	color: #FFFFFF;
	margin-left: 200px;
	margin: 0px;
	font-size: 14px;
	font-family: "Franklin Gothic";
	margin-right: 200px;
}

h5{
	color: #FFFFFF;
	margin-left: 200px;
	font-size: 16px;
	font-family: "Franklin Gothic";
	margin-right: 200px;
	margin: 8px 200px 8px 200px;

}

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.content-points{
	margin-left: 200px;
	font-family: "Franklin Gothic";
	color: #FFFFFF;
	margin-right: 200px;
	width: 900px;
	list-style-type: circle;
}

ul.nav-list li {
    float: left;
    font-family: "Franklin Gothic";
}

hr{

	margin-left: 200px;
	margin-right: 200px;

}


img{
    float: right;
    border: 1px groove white;
    margin: 20px 200px 20px 20px;
}

/*a:link, a:visited {
    display: block;
    width: 150px;
    font-weight: bold;
    font-family: "Franklin Gothic";
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}*/

a.nav-bar:link, a.nav-bar:visited{
	display: block;
    width: 150px;
    font-weight: bold;
    font-family: "Franklin Gothic";
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

a.nav-bar:hover, a.nav-bar:active {
    background-color:#0066FF;
}

/*
a:hover, a:active {
    background-color:#0066FF;
}
*/

#wrapper{
	
	margin-left: auto;
	margin-right: auto;
	vertical-align: 
}

#header{
	border: 1px solid black;
	background: #000000;
	height: 150px;
}

#nav-panel{
	min-width: 1200px;
	margin-left: 200px;
	position:absolute;
	top:125px;	
}

#content{
	
	
	border: 1px solid black;
	background: #181818;
	
	min-height: 500px;
}

#footer{
	
	background: #202020;
	height: 40px;

}
